body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  display: inline-block;
  /* border-color: black; */
  background: #d0cece;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.subtitle {
  display: inline-block;
  background: #e2dede;
  padding: 8px;
  /* text-transform: capitalize; */
}
